<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gastos do Vereador</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <h1>Estes foram os gastos do deputado <%= nome_deputado %></h1>
    <h4 id="totalGastos2023"></h4> <!-- Local para exibir o total dos gastos de 2023 -->
    <h4 id="totalGastos2024"></h4> <!-- Local para exibir o total dos gastos de 2024 -->
    <div id="chart_div"></div>
    <br>
    <br>
    <h4 id="voos"></h4> <!-- Local para os voos do deputado -->
</body>

<script>
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    
    function drawChart() {
        let gastos2023 = "<%= gastos2023 %>"; // Exemplo: "Passagem Aérea Nacional/3000!Passagem Aérea Internacional/5000!Passagem Aérea Regional/2000"
        let gastos2024 = "<%= gastos2024 %>"; // Exemplo: "Passagem Aérea Nacional/2500!Passagem Aérea Internacional/4500!Passagem Aérea Regional/1500"
        let lista_voos = "<%= lista_voos %>"
        document.getElementById('voos').textContent = `Total dos Gastos 2024: R$ ${lista_voos.toLocaleString()}`;
    
        let gastosAgrupados = {};
        let totais = {2023: 0, 2024: 0}; // Armazenar totais para cada ano
    
        processarGastos(gastos2023, 2023, gastosAgrupados, totais);
        processarGastos(gastos2024, 2024, gastosAgrupados, totais);
    
        let data = new google.visualization.DataTable();
        data.addColumn('string', 'Categoria');
        data.addColumn('number', '2023');
        data.addColumn('number', '2024');
    
        Object.keys(gastosAgrupados).forEach(function(categoria) {
            data.addRow([categoria, gastosAgrupados[categoria][2023] || 0, gastosAgrupados[categoria][2024] || 0]);
        });
    
        let options = {
            title: 'Gastos do Deputado por Categoria e Ano',
            width: 2000,
            height: 1000,
            legend: { position: 'top' },
            hAxis: { title: 'Categorias' },
            vAxis: { title: 'Valor' },
            bars: 'group'
        };
    
        let chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    
        document.getElementById('totalGastos2023').textContent = `Total dos Gastos 2023: R$ ${totais[2023].toLocaleString()}`;
        document.getElementById('totalGastos2024').textContent = `Total dos Gastos 2024: R$ ${totais[2024].toLocaleString()}`;
    }
    
    function processarGastos(gastos, ano, gastosAgrupados, totais) {
        let listaGastos = gastos.split('!');
        listaGastos.forEach(function(item) {
            let [categoria, valor] = item.split('/');
            valor = parseFloat(valor);
            // Normalizar a categoria de passagens aéreas
            if (categoria.includes("PASSAGEM AÉREA")) {
                categoria = "Passagem Aérea";
            }
            if (!gastosAgrupados[categoria]) {
                gastosAgrupados[categoria] = {2023: 0, 2024: 0};
            }
            if(valor){
                gastosAgrupados[categoria][ano] += valor;
            totais[ano] += valor; // Somar ao total do ano
            }
           
        });
    }
    </script>
    
    
</html>
