<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleção da Cidade</title>
</head>
<body>
    <form action="/home_cidades" method="post">
    <h1>Buscar Cidade pelo nome e estado</h1>
    <label for="cidade">Cidade</label>
    <input type="text" placeholder="Digite a cidade" autofocus="true" id="cidade" name="cidade" value="Campinas"/>
    <label for="cidade">Estado</label>
    <input type="text" placeholder="Digite o estado" autofocus="true" id="estado" name="estado" value="São Paulo"/>
    </br>
    </br>
    <button type ="submit">Ver informações</button>
</form>
</body>
</html>
